Hotels.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://abumgar3.github.io" targetNamespace="http://abumgar3.github.io" elementFormDefault="qualified" attributeFormDefault="unqualified">>
  <xsd:element name="Hotels" type="HotelsType"/>
  <xsd:complexType name="HotelsType">
    <xsd:sequence>
      <xsd:element name="Hotel" type="HotelDetails" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HotelDetails">
    <xsd:sequence>
      <xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Phone" type="PhoneType" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="Address" type="AddressType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Rating" type="RatingType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AddressType">
    <xsd:sequence>
      <xsd:element name="Number" type="xsd:positiveinteger" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Street" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="City" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="State" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Zip" type="ZipType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="NearestAirport" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="PhoneType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d{3}\-\d{3}\-\d{4}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RatingType">
    <xsd:restriction base="xsd:decimal">
      <minInclusive value="0">
    </xsd:restriction>
    <xsd:restriction base="xsd:decimal">
      <maxInclusive value="5">
    </xsd:restriction>
    <xsd:restriction base="xsd:decimal">
      <totalDigits value="2">
    </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="ZipType">
    <xsd:restriction base="xsd:positiveinteger">
      <totalDigits value="5">
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
